@import 'select-currencies.css';
@import 'navbar.css';
@import 'footer.css';

html, body {

  margin: 0;
  height: 100%;
  background-color: black;
}

.wrapper {
  background-color: black;
  min-height: 100%;
  /* From the web*/
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -40px;
}

.test {
  background-color: inherit;
  padding-top: 65px;
}

.container {
  background-color: black;
  padding-top: 40px;
  color: black;
}


.buffer {
  padding-top: 70px;
}

.swap-card {
  background-color: white;
  opacity: 0.9;
 /* margin-right: 190px !important;
  margin-left: 190px !important;*/
/*  margin-right: 18vw;
  margin-left: 18vw;*/
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(1, 1, 1, 0.7);
  border: 1px solid rgba(250, 250, 250, 0.1);
}

/*.swap-card-content {
  align-content: center !important;
}*/

#sell-dropdown {
/*  display: flex;
*/  flex-direction: column;
  width: 200px;
}

.sell-title {
  align-self: baseline;
}

.sell-token-content {
  margin-bottom: 10px;
  background-color: inherit;
}

#buy-dropdown {
/*  display: flex;
*/  flex-direction: column;
  width: 200px;
}

.buy-title {
  align-self: baseline;
}

.buy-token-content {
  margin-bottom: 10px;
  background-color: inherit;
}

/*Token name selection*/

.dropbtn {
  background-color: inherit;
  color: black;
}


/*Input fields*/


.sell-input-content {
  display: flex;
  max-width: 200px;
  margin: 0 auto;
}

.buy-input-content {
  display: flex;
  max-width: 200px;
  margin: 0 auto
}

/*Amount input fields*/

#src-amount {
  align-self: baseline;
  border: none;
  border-bottom: 2px solid black;
  opacity: 1;
  background-color: inherit;
  border-radius: 0;
  height: 30px;
  color: white;
}

#dest-amount {
  align-self: baseline;
  border: none;
  border-bottom: 2px solid black;
  opacity: 1;
  background-color: inherit;
  border-radius: 0;
  height: 30px;
  color: white;
}

/*Input symbol*/
.input-symbol {
  align-self: baseline;
  border-bottom: 2px solid black;
  height: 25px;
}

/*Swap Button*/

#swap-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*CREDITS*/

.credits {
  border-top: 1px solid white;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 20px !important;
  margin-left: 20px !important;
}


.credit-item {
  padding-top: 25px;
  padding-bottom: 10px;
}

/*Make Token logos round*/

.token-logo {
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
}
