@import 'select-currencies.css';
@import 'navbar.css';
@import 'footer.css';

html, body {
/*  height: 100%;
  margin: 0;*/
  background-color: black;
}

.wrapper {
  background-color: black;
  min-height: 100%;
  /* From the web*/
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -40px;
}

.test {
  background-color: inherit;
  padding-top: 85px;
}

.container {

  background-color: rgba(122, 32, 99, 0.2);
  padding-top: 40px;
  color: white;
}


.buffer {
  padding-top: 70px;
}

#sell-dropdown {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.sell-title {
  align-self: baseline;
  color: white;
}

.sell-token-content {
  margin-bottom: 10px;
  background-color: inherit;
}

#buy-dropdown {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.buy-title {
  align-self: baseline;
  color: white;
}

.buy-token-content {
  margin-bottom: 10px;
  background-color: inherit;
}

/*Token name selection*/

.dropbtn {
  background-color: inherit;
  color: white;
}


/*Input fields*/


.sell-input-content {
  display: flex;
  width: 200px;
}

.buy-input-content {
  display: flex;
  width: 200px;
}

/*Amount input fields*/

#src-amount {
  align-self: baseline;
  border: none;
  border-bottom: 2px solid white;
  opacity: 1;
  background-color: inherit;
  border-radius: 0;
  height: 30px;
  color: white;
}

#dest-amount {
  align-self: baseline;
  border: none;
  border-bottom: 2px solid white;
  opacity: 1;
  background-color: inherit;
  border-radius: 0;
  height: 30px;
  color: white;
}

/*Input symbol*/
.input-symbol {
  align-self: baseline;
  border-bottom: 2px solid white;
  height: 25px;
}

/*Swap Button*/

#swap-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*CREDITS*/

.credits {
  border-top: 1px solid white;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 20px !important;
  margin-left: 20px !important;
}


.credit-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Make Token logos round*/

.token-logo {
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
}
